.pictos-grid {
  margin-top: 3rem;
}

.pictos-items {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.picto-item {
  background-color: white;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0 2px 2px 0 #E6E6E6;
  border: 1px solid #B3B3B3;
}

.picto-item img {
  width: 100%;
  max-width: 120px;
  height: auto;
}

.picto-item:hover {
  box-shadow: 1px 1px 1px 1px #B3B3B3;
}

@media screen and (min-width: 768px) {
  .pictos-items {
    justify-content: flex-start;
  }

  .picto-item img {
    max-width: 200px;
  }
}