.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main {
  flex: 1;
}

header {
  background-color: #FFC000;
  padding: 10px;
  border-radius: 0px 0px 5px 5px;
  box-shadow: 0 2px 6px 0 #B3B3B3;
  position: relative;
  z-index: 2;
}

footer {
  background-color: #FFEBAD;
  padding: 20px;
  /* display: flex;
  flex-flow: row wrap; */
}

.center {
  text-align: center;
}

.pointer {
  cursor: pointer;
}