body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}   

@-ms-viewport{
  width: device-width;
}

/* Colors */
.full-yellow {
  color: #FFC000;
}

.mild-yellow {
  color: #FFD966;
}

.light-yellow {
  color: #FFEBAD;
}

.extra-light-yellow {
  color: #FFF9E5;
}

.full-red {
  color: #C42222;
}

.mild-red {
  color: #DC3535;
}

.light-red {
  color: #E35E5E;
}

.extra-light-red {
  color: #F0A8A8;
}

.mild-grey {
  color: #808080;
}

.light-grey {
  color: #B3B3B3;
}

.extra-light-grey {
  color: #E6E6E6;
}


